 /* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
:root{
    --color:orangered;
    --bgcolor:#1d1b25;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/* header container */

header{
    height: 6vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f2f2f2;
}


.header-content-logo{
    margin-right: 600px;
    
}
.show{
    display: block;
}
.header-content-logo h1 span{
    color: rgb(211, 84, 0);
}


.header-list>ul>li{
    margin:30px 20%;
    font-size: 1.5rem;
    font-weight: 800;
    list-style-type: none;
}

.header-content-social>img{
    height: 25px;
    margin-right:20px ;
}

/* article section */
.container-1{
    background-color: var(--bgcolor);
    height: 150vh;
    padding: 0px 100px;

 
}
.container-1>.inner1>h1{
    font-family: 'Roboto', sans-serif;
    width: 37%;
    color: white;
    font-size: 3.5rem;
    margin-left: 41%;
}
.inner1{
    position: relative;
    display: inline-block;
    top: 8%;
    
    right: 27%;

    /* display: inline-block; */


}

.inner2{
    position: relative;
    top: -23%;
    left: 49%;
    display:inline-block;
}

.inner3{
    position: relative;
    z-index: 1;
    bottom: -15%;
    left: -25%;
    display: inline-block;

}
.inner3>img{
    
    display: inline-block;
    height: 60vh;
}

.inner2>img{
    height: 45vh;
}

.inner5{
    display: inline-block;
    position: relative;
    width: 36%;
    background-color: white;
    z-index: 2;
    top: 1%;
    right: -50%;
    height: 31%;
    padding: 24px;
}
.inner5>h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: 20px 20px 0px 20px;
}
.inner5>p{
    margin-bottom: 3rem;
    padding: 5px 20px;
    width: 90%;
}
.btn{
    margin:0px 20px;
    padding:10px 30px;
    font-size: 1.3rem;
    letter-spacing: 2px;
    border: none;
    background-color:var(--color);
    color: white;
}

.btn:hover{
    cursor: pointer;
    background-color: black;

    transition: 0.5s ease;
}

/* our project section */

.pic-8>img{

    height: 25rem;
}
.container-1{
    width: 100vw;
}
.container-2>div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);


}

.container-2{
    height: 100vh
}
.container-2>div>div{
    box-sizing: content-box;
   margin: 10px 10px;
}
.container-2>div{
    margin: 30px auto;
    width: 70%;

}

.to-change-box-1{
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    padding: 20px;
    color: white;
    background-color: var(--color);

}

.to-change-box-2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 21px;
    width: 80%;
    color: white;
    background-color: var(--color);
    text-align: center;
}
.to-change-box-2>p{
    margin: auto 0px;
    font-size: 1.2rem;
    
}

.to-change-box-2>h1{
    margin: 110px 0px 30px 0px;
}

/* planning section */

.container-3{
    background-color: var(--bgcolor);
    height: 100vh;

    color: white;
}
.container-3>.plan-box-1{
    display: inline-block;
    position: relative;
    left: 15%;
    top: 6%;
    width: 28%;
    margin: 3px 34px 19px 7px;
    height: 19%;

}
.container-3>.plan-box-2{
    display: inline-block;
    position: relative;
    border: 9px solid var(--color);
    left: 15%;
    top: 6%;
    padding: 20px 50px 258px 50px;
    width: 39%;
    z-index: 1;
    
}
.container-3>.plan-box-2 h1{
    font-size: 4rem;
    margin-top: 80px;
}
.container-3>.plan-box-3{
    display: inline-block;
    position: relative;
    left: 15%;
    top: -15%;
}
.container-3>.plan-box-4{
    display: inline-block;
    position: relative;
    left: 20%;
    top: -14%;
    z-index: 2;
}
.container-3>.plan-box-4>img{
    width: 80%;
    height: 467px;
}

/* agency section */

.container4{
    height: 100vh;
}
.uper-2{
    display: flex;
    justify-items: center;
    align-content: center;
}

.uper-1{
    width: 50%;
    padding: 68px 76px;
    font-size: 1.4rem;
}
.uper-2 >div{
    padding: 37px 83px;
    font-size: 1.2rem;
}
 .uper-2 div h2{
    font-size: 2rem;
}

.btn-class>button{
    margin-left: 83px;
    margin-bottom: 111px;
}
.lower-1>h2,.lower-2>h2{
    border-bottom: 10px solid var(--color);
    padding-bottom:30px;
    margin-bottom:30px;
}

.lower-3>p{
    margin-top: 60px;
    padding-top: 30px;
}
.uper-1>h1>spam{
    size: 3rem;
    font-weight: bolder;
    color: var(--color);
}

/* about us */

.container-5{
    background-image: url('./img/pexels-photo-6146810.jpeg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}
.container-5>div{
    padding: 593px 50px 0px 50px;
}
.container-5>div{
    display: block;
    display: flex;
}
.container-5>div>.div1{
background-color: var(--color);
padding:60px 20px;
color: white;
font-weight: 600;
width: 61%;
font-size: 3rem;


}
.container-5>div>.div2{
    background-color: white;
    padding:40px 30px;
    
    }

    /* check box section */

    .container-6{
        padding: 20px 20px 50px 20px;
        /* margin: 20px 100px; */
        margin: 20px 0px;
        height: 100vh;
    }
    
    .wraper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .checkbox>img,.checkbox>p{
        font-family: 'Poppins', sans-serif;
        display: inline-block;
    }
    
    .checkbox{
        margin: 20px 58px;
        display: flex;
        background-color: #f4f4f4;
        padding:55px 50px;
    }
    .heading-6{
        margin-left: 67px;
        margin-top: 54px;
        margin-bottom: 54px;
        font-size: 1.4rem;
        width: 50%;
}

.checkbox>img{
    margin-right: 20px;
    height: 43px;
}

.container-7{
    height: 150vh;
    color: white;
    background-color: var(--bgcolor);
}

.inner7-1{
    display: inline-block;
    position: relative;
    width: 35%;
    top: -9%;
    left: 45%;
    /* background-color: rgb(73, 73, 64); */
}
.inner7-1>h1{
    margin: 20px 0px;
    font-size: 3rem;
}
.inner7-1>p{
    margin: 20px 0px;
}
.inner7-1>button{
    margin: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
}
.inner7-1>.btn:hover{
    margin: 0px;
    background-color: white;
    color: black;
}
.inner7-2{
    display: inline-block;
    position: relative;
    width: 35%;
    height: 10%;;
    top: 8%;
    left: -12%;

}
.inner7-2>img{
    width: 54%;
    height: 374px;

}

.inner7-3>img{
    display: inline-block;
    position: relative;
    width: 33%;
    top: 46%;
    left: 45%;
}
.inner7-4{
    display: inline-block;
    position: relative;
    height: 0%;
    top: 46%;
    left: -14%;
}
.inner7-4>img{
    width: 432px;
}
.inner7-5>img{
    width: 484px;
}
.inner7-5{
    margin-top: 20px;
    position: relative;
    top: 46%;
    left: 45%;
    width: 395px;
    padding-bottom: 140px;
}

.inner7-6{
    display: inline-block;
    width: 23%;
    position: absolute;
    margin-top: -407px;
    left: 19%

}
.inner7-6>div>img{
    height: 30px;
    filter:invert();
}
.inner7-6>h1{
  border-bottom: 3px solid white;
  padding-bottom: 20px;
  text-align: center;
}
.inner7-6>.logo-7{
  border-bottom: 3px solid white;
  padding-bottom: 20px;
  text-align: center;
  padding: 20px;
}
.inner7-6>.logo-7>img{
    padding: 0px 10px;
}
.inner7-6>p{
    padding: 37px 68px;
}
.design{
    z-index: 0;
    background-color: rgb(255, 68, 0);
    width: 100vw;
    height: 53%;
    position: absolute;
    top: 718%
}

.container-8{
    height: 100vh;
}
.from1{
    float: left;
}
.from1>img{
    width: 50vw;
    height: 100vh;
}
.form2{
    float: right;
    padding: 0px 100px;
    width: 50wv;
}
.conatainer-9>.from2{
    background-image: url('./img/pexelsphoto3388799.jpeg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

.from2>h1{
    font-size: 4rem;
    padding: 20px;
    color: white;
    display: inline-block;
    padding: 30px 40px;
}
form{
    position: relative;
    right: -2%;
    border: none;
}

form>#text{ 
    width: 45%;
    padding:20px;
    margin:20px 0px;
    border: none;
    font-size: 1.5rem;
    
}
form>#email{
    width: 45%;
    padding:20px;
    margin:20px 0px;
    border: none;
    font-size: 1.5rem;
}
form>#textarea{
    width: 45%; 
    padding:20px;
    margin:20px 0px;
    border: none;
    font-size: 1.5rem;
}
.form-btn{
    margin:0px 46px;
    padding:15px 40px;
    font-size: 1.3rem;
    letter-spacing: 2px;
    border: none;
    background-color:white;
    color: orangered;
}

.lastlogo>h1{
    display: inline-block;
    padding: 50px;
}
.lastlogo>img{
   /* display: block; */
   margin-left: 13px;
}


.form-btn:hover{
    box-sizing: border-box;
    background-color: rgba(255, 68, 0, 0);
    color: white;
    border: 2px solid white;

}

footer{
    height: 30vh;
    color: white;
    font-size: 1.2rem;
background-color: var(--bgcolor);
}

.footerclass{
    text-align: center;
    margin:-1% 20%;
}
.footerclass img{
    margin: 10px 10px;
}
.footer-1{
    text-align: left;
    margin: 10px 500px;
}
.sign-in{
    
    align-items: center;
    margin:20px auto;
    padding:10px 30px;
    font-size: 1.3rem;
    letter-spacing: 2px;
    border: none;
    background-color:var(--color);
    color: white;
}